:root {
  --primary-color: hsl(270, 9%, 17%);
}

.nav {
  text-transform: uppercase;
  font-family: "Karla";
  font-weight: 400;
}

.nav a,
li a {
  color: var(--primary-color) !important;
}

.nav .brand-name {
  font-family: "Krona one";
}

.nav .brand-details {
  margin-left: auto;
  font-size: 14px;
}

.nav li .hww {
  opacity: 0.8;
}
.nav li .hww:hover {
  opacity: 1;
  font-weight: 600;
}

.nav .nav-margin {
  margin: 0 70px;
}

.nav li .view-plans {
  border: 2px solid var(--primary-color);
  border-radius: 2px;
  font-weight: 400;
  opacity: 1;
}
.nav li .view-plans:hover {
  color: white !important;
  background-color: var(--primary-color);
  transition: all 200ms ease-in-out;
}

header {
  margin-top: 3.5rem;
  background-color: var(--primary-color);
  padding: 250px 150px 290px;
}

section {
  color: white;
}

h1.heading {
  font-family: "DM Serif Display", serif;
  line-height: 0.9;
  font-size: 75px;
  margin-bottom: 25px;
}

hr {
  opacity: 1;
  width: 25%;
  color: grey;
  margin-bottom: 36px;
}

hr:not([size]) {
  height: 2px;
}

.h-body {
  font-size: 16.5px;
}

button {
  border: 2px solid white;
  color: white;
  background: var(--primary-color);
  margin-top: 27px;
  text-transform: uppercase;
  font-family: "Karla";
  font-weight: 500;
}

button:hover {
  color: var(--primary-color);
  background-color: white;
  transition: all 200ms ease-in-out;
}

.row {
  margin-top: -470px;
}

.intro-left-svg {
  margin-top: -750px;
}

.intro-right-svg {
  margin-left: 710px;
  margin-top: -1135px;
}

aside {
  font-family: "DM Serif Display", serif;
}

.aside-hr:not([size]) {
  height: 1px;
}

h2 {
  font-size: 65px;
}

.i-div {
  display: flex;
}

h3 {
  font-size: 20px;
}
