:root {
  --primary-color: hsl(270, 9%, 17%);
}

navbar {
  text-transform: uppercase;
  font-family: "Karla";
  font-weight: 400;
}

navbar a,
li a {
  color: var(--primary-color) !important;
}

navbar .brand-name {
  font-weight: 700;
}

navbar .brand-details {
  margin-left: auto;
  font-size: 14px;
}

navbar li .hww {
  opacity: 0.8;
}
navbar li .hww:hover {
  opacity: 1;
  font-weight: 600;
}

navbar .nav-margin {
  margin: 0 70px;
}

navbar li .view-plans {
  border: 2px solid var(--primary-color);
  border-radius: 2px;
  font-weight: 400;
  opacity: 1;
}
navbar li .view-plans:hover {
  color: white !important;
  background-color: var(--primary-color);
  transition: all 200ms ease-in-out;
}

header {
  margin-top: 3.5rem;
  background-color: var(--primary-color);
  color: white;
  padding: 130px 50px;
}
